@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
    var environment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIROMENT");
    var urlConfig = environment == "docker" ? "Integrations:DataApiDocker" : "Integrations:DataApi";
}

@section Scripts{
    <script>const DATA_URL = "@Configuration[urlConfig]";</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="~/js/coin-management/showcase.js"></script>

}
<div class="container">
    <div class="col-8 offset-2 card mt-5">
        <div class="card-header">
            <div class="row float-start">
                <div class="col-auto">
                    <label class="col-form-label">Bitcoin Prices</label>
                </div>
            </div>
            <div class="row float-end" style="min-width:150px">
                <div class="col-auto">
                    <label class="col-form-label">Filter</label>
                </div>
                <div class="col-auto">
                    <div class="dropdown">
                        <a id="filterText" class="btn btn-secondary dropdown-toggle" style="min-width:100px"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Today
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" data-key="today" href="#">Today</a></li>
                            <li><a class="dropdown-item" data-key="month" href="#">Month</a></li>
                            <li><a class="dropdown-item" data-key="Year" href="#">Year</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="chart" style="width:50%;height:85%"></canvas>
    </div>
</div>