@{
    ViewData["Title"] = "Register";
}

@section Scripts{
    <script src="~/js/user-management/register.js"></script>
}

<div class="container col-4 align-content-center border p-3">
    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" name="Email" type="email" class="form-control" aria-describedby="email" placeholder="E-Mail">
        </div>
        <div class="form-group">
            <label for="firstname">First name</label>
            <input id="firstname" name="Firstname" type="text" class="form-control" aria-describedby="firstname" placeholder="First name">
        </div>
        <div class="form-group">
            <label for="lastname">Last name</label>
            <input id="lastname" name="Lastname" type="text" class="form-control" aria-describedby="lastname" placeholder="Last name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="Password" type="password" class="form-control" placeholder="Password">
        </div>
         <div class="form-group">
             <label for="repassword">Re-Type Password </label>
            <input id="repassword" name="RePassword" type="password" class="form-control" placeholder="Re-Type Password">
          </div>
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</div>